<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="../scripts/script.js"></script>
    <title>Document</title>
</head>

<body>
    <div class="row">
        <div class="nav">
            <div class="nav-head">
                <form method="get" action="/newNote" id="newNote"></form>
                <h1><a href="/">Notatki</a></h1>
                <button type="submit" form="newNote" value="Submit">Nowa notatka</button>
            </div>
            <form method="get" class="search" action="/search" id="search">
                <input type="text" placeholder="Search.." name="searchText" id="searchText">
                <button type="submit"><i class="fa fa-search"></i></button>
            </form>
            <br>
            <%list.forEach(function(entry) {%>
            <a href="/select/<%=entry._id%>">
                <%if (entry._id == actual._id) { %>
                <div class="selected">
                    <% } else {%>
                    <div class="element">
                        <% } %>
                        <div class="top-element">
                            <h2>
                                <%=entry.title%>
                            </h2>
                            <form method="post" action="/delete" id="delete">
                                <input id="_id" name="_id" type="hidden" value="<%= entry._id %>">
                            </form>
                            <button type="submit" form="delete" value="Submit">delete</button>
                        </div>
                        <p><%=entry.description%></p>
                    </div>
            </a>
            <br>
            <%});%>
        </div>
        <div class="main">
            <div class="top">
                <textarea class="title" placeholder="Tytuł" form="noteForm" id="title"
                    name="title"><%=actual.title%></textarea>
                <div class="addSection">
                    <button onclick="addSection()">Dodaj Sekcję</button>
                </div>
            </div>
            <div class="content">
                <textarea placeholder="Podaj tutaj więcej informacji" form="noteForm" id="description"
                    name="description"
                    onkeydown="if(event.keyCode===9){var v=this.value,s=this.selectionStart,e=this.selectionEnd;this.value=v.substring(0, s)+'\t'+v.substring(e);this.selectionStart=this.selectionEnd=s+1;return false;}"><%=actual.description%></textarea>
            </div>
            <form method="post" action="/sendNote" id="noteForm">
                <input id="_id" name="_id" type="hidden" value="<%= actual._id %>">
                <input type="submit" class="submitButton" value="Zapisz">
            </form>
        </div>
    </div>
</body>

</html>