* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.nav {
    flex: 25%;
    padding: 15px;
    overflow: scroll;
}

.nav-head {
    display: flex;
    border-bottom: solid black 1px;
    margin-bottom: 20px;
    padding: 0px;
    height: 10%;
}

.nav-head h1 {
    flex: 70%;
}

.nav-head button {
    flex: 30%;
    height: 80%;
}

.main {
    flex: 75%;
    padding: 15px;
}

.row {
    display: flex;
    height: 100vh;
}

.content {
    width: 99%;
    height: 80%;
    margin-bottom: 15px;
}

.content textarea {
    width: 100%;
    height: 100%;
    padding: 10px;
    font-size: 20px;
    border-radius: 4px;
}

.top {
    height: 12%;
    display: flex;
    width: 99%;
}

.title {
    flex: 90%;
    font-size: 30px;
    padding: 10px;
    margin: 0px 10px 10px 0px;
    border-radius: 4px;
}

.addSection {
    flex: 10%;
    margin: 0px 0px 10px 0px;
}

button {
    border-radius: 4px;
}

.addSection button {
    height: 100%;
    width: 100%;
    font-size: 18px;
}

.element {
    border: solid black 1px;
    border-radius: 4px;
    padding: 0px 15px 15px 10px;
    height: 25%;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.element p {
    white-space: pre-wrap;
}

.top-element {
    display: flex;
    height: 34%;
    overflow: hidden;
    text-overflow: ellipsis;

}

.top-element h2 {
    flex: 70%;
    width: 70%;
}

.top-element button {
    margin-top: 15px;
    flex: 30%;
}

.submitButton {
    width: 99%;
    padding: 10px;
    border-radius: 4px;
}

.search {
    width: 100%;
}

.search input {
    width: 75%;
}

.search button {
    width: 20%;
}


body {
    margin: 0px;
}

a {
    color: black;
    text-decoration: none;
}

.selected {
    border: solid #475161 4px;
    border-radius: 4px;
    padding: 0px 15px 15px 10px;
    height: 25%;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.selected p {
    white-space: pre-wrap;
}